body {
  margin: 0;
  padding: 0;
}
.img{
    width: 5% ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2596be;
}

ul li {
  float: right;
  
}

ul li {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  color: black;
  cursor:default;
}
