body {
      
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
        }
    .eco{
       width: 89%;
    transform: translate(-198%, 121%);
    }
    .h2{
      padding: 12;
      transform: translate(14%);
      font-style: normal;
      font-weight: bold;

    }
    .login-container {
      background: white;
      transform: translate(62%,-13%);
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(236, 233, 233, 0.1);
      width: 300px;
    }
    input[type="text"],input[type="password"] {
     width: 90%;
     padding: 17px;
     font-weight:bold;
     font-style: normal;
     margin: 11px 0;
     border: 1px solid #ccc;
     border-radius: 44px;
    }
    .forgot-password {
      text-align: right;
      margin-top: 10px;
      transform: translate(-16%);
    }
    .forgot-password a {
      color: #007BFF;
      text-decoration: none;
    }
    .forgot-password a:hover {
      text-decoration: underline;
    }
    button {
      width: 90%;
      padding: 12px;
      font-weight: bold;
      font-style: normal;
      background: #2596be;
      color: white;
      border: none;
      border-radius: 44px;
      cursor: pointer;
      text-transform: uppercase;
      height: 50;
    }
    button:hover {
      background: #1a2d5f;
    }
.p{
 font-size: small;
 transform: translate(11%);
}